<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mimez.alfred-workflow-redmine</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>72625970-227A-4C9C-B6C2-D350B11148C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D5EADB9-E5D4-438C-BB98-F37D2C8D41A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Mezger</string>
	<key>description</key>
	<string>Get ticket title by issue number and copy it to the clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Redmine Issue Title</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>redmine</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require("vendor/autoload.php");
$redmine = new Redmine\Client(getenv('REDMINE_URL'), getenv('REDMINE_APIKEY'));
$projectsWorkflow = new \Mimez\AlfredWorkflow\RedmineWorkflow\RedmineWorkflow($redmine);
$projectsWorkflow('{query}');</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>redmine</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72625970-227A-4C9C-B6C2-D350B11148C4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3D5EADB9-E5D4-438C-BB98-F37D2C8D41A7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Get ticket title by issue number and copy it to the clipboard</string>
	<key>uidata</key>
	<dict>
		<key>3D5EADB9-E5D4-438C-BB98-F37D2C8D41A7</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>72625970-227A-4C9C-B6C2-D350B11148C4</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>REDMINE_APIKEY</key>
		<string></string>
		<key>REDMINE_URL</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>REDMINE_APIKEY</string>
		<string>REDMINE_URL</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/mimez</string>
</dict>
</plist>
